<!-- 🛣 HOV LANES Card - National/Local/Fun News Tables -->
<div class="c-section-card">
  <h2 class="c-section-card__header">
    <span class="c-section-card__emoji">🛣️</span>
    <span class="c-section-card__title">HOV LANES</span>
  </h2>
  <div class="c-section-card__body">
    <table class="national-links">
      <caption class="visually-hidden">National Links</caption>
      <thead>
        <tr>
          <th scope="col">NATIONAL</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td></tr>
      </tbody>
    </table>

    <table class="local-fun-links">
      <caption class="visually-hidden">Local and Fun Links</caption>
      <thead>
        <tr>
          <th scope="col">LOCAL</th>
          <th scope="col">FUN</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Insert TEMPLATE here</td><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td><td>Insert TEMPLATE here</td></tr>
        <tr><td>Insert TEMPLATE here</td><td>Insert TEMPLATE here</td></tr>
      </tbody>
    </table>
  </div>
</div>
